
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-fonts {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared style */
    .display-flex{
      display: flex;
    }
    /* dark 02 */
    .text-gray{
      #424242
    }
    /* dark 03 */
    .text-gray-light{
      color: #727272;
    }
    .bg-light{
      background-color: rgba(255, 144, 14, 0.1);
    }
/* Header style */

/* Navbar related style */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.nav-item{
  
list-style: none;
  
margin-right: 30px;
}

.nav-links{
  text-decoration: none;
  font-weight: 500;
}

/* Banner Related style */
.banner-ontent{
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;

}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.btn-primary{
  background-color: #FF900E;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 20px 25px;
  font-weight: 600;
  border: none;
}
.banner-image{
  width: 100%;
}
.main{
  max-width: 1440px;
  margin: auto;
}
/* Responsive Media Query */

@media screen and (max-width:576px) {
  .nav-links ,.navbar{
    flex-direction: column;
  }
}