
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-fonts {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared style */
    .display-flex{
      display: flex;
    }
    .section-title{
      font-size: 3rem;
      font-weight: 700;
      
}
    /* dark 02 */
    .text-gray{
      #424242
    }
    .color-primary-btn{
      color: #FF900E;
    }
    /* dark 03 */
    .text-gray-light{
      color: #727272;
    }
    .bg-light{
      background-color: rgba(255, 144, 14, 0.1);
    }
/* Header style */

/* Navbar related style */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}
.nav-item{
  
list-style: none;
  
margin-right: 30px;
}

.nav-links{
  text-decoration: none;
  font-weight: 500;
}

/* Banner Related style */
.banner-ontent{
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;

}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.btn-primary{
  background-color: #FF900E;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 20px 25px;
  font-weight: 600;
  border: none;
}
.banner-image{
  width: 100%;
}
main{
  max-width: 1440px;
  margin: auto;
}

main >section{
  margin-top: 130px;
  align-items: center;
}
.team-image-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}

.our-features{
  margin-left: 73px;
}

#Quick list{
  font-weight: 500;
}
.features-discription{
  line-height: 26px;
}


/* Feature section related style */

section.fetures {
    display: flex;
    gap: 140px;
}

#section-feature-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}
.feature-card .feature-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
}
.feature-card{
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
/* Some Fact Related style */
.cards-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;  
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.card-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.card-name{
  font-weight: 600;
  margin-top: 5px;
  font-size: 1.2rem;
}
.fact-description{
  max-width: 540px;
}


/* Sponsor Related style */

.sponsord-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-conpanies{
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
.sponsor-conpanies img{
  filter: grayscale(100%);
}

/* Responsive Media Query */

@media screen and (max-width:576px) {
  .nav-links ,
  .navbar,
  .teams{
    flex-direction: column;
  }
  .team-image-container, 
  .cards-container,
  .sponsor-conpanies{
    grid-template-columns: 1fr;
  }
  .cards-container{
    justify-items: center;
    gap: 24px;
  }
  .our-features{
    margin-left: 20px;
  }
  .sponsor-conpanies{
    justify-items: center;
    gap: 50px;
  }
  
}

@media screen and (min-width :576px) and (max-width :992px){
  .teams{
    flex-direction: column;
  }
   .our-features{
    margin: 20px auto;
    text-align: center;
  }
  .sponsor-conpanies, .cards-container{
    grid-template-columns: repeat(3,1fr);
  }
  .cards-container{
    gap: 25px;
    justify-items: center;
  }
}
